################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GenElect/GenElect/App_Data/aspnet-GenElect-20171129114953.mdf
