@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>GenElect is all about making the mundane tasks easier</h3>
<p>Developed for CSC 260 - Object Oriented Programming by Jarod Keene, Fall 2017.</p>
<br /><br /><p>To learn more about the GenCyber camps click <a href="https://www.gen-cyber.com/" target="_blank">here</a>.</p>
<br /><p>Interested in signing up? Visit the DSU GenCyber page <a href="http://dsu.edu/dsu-gencyber-camps" target="_blank">here</a>.</p>
<br /><p>Questions? Visit the contact page to find contact information of the developer and heads of the DSU GenCyber camp.</p>
