@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>With any questions contact:</h3>
<address>
    Jarod Keene<br />
    <a href="mailto:jarod.keene@trojans.dsu.edu">jarod.keene@trojans.dsu.edu</a><br />
    <abbr title="Phone">P:</abbr>
    605.593.7775
</address>
<address>
    Tom Halverson<br />
    <a href="mailto:tom.halverson@dsu.edu">tom.halverson@dsu.edu</a><br />
    <abbr title="Phone">P:</abbr>
    605.256.5901
</address>