@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GenElect</h1>
    <p class="lead">GenElect is an opensource project that will help students register for electives during the Dakota State University GenCyber camp every summer</p>
    <p><a href="https://www.gen-cyber.com/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>