
@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Message</h2>
@Html.ActionLink("Back to Electives", "Index", "Electives") |
@Html.ActionLink("View your schedule", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })


